.emoji {
  right: 25%;
  top: 0;
  background: #fff;
  position: absolute;
  padding: 0;
  font-size: 50px;
}
.approximately {
  background: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 15%;
  margin: 55px;
  font-size: 20px;
  color: rgb(97, 92, 92);
  font-weight: bold;
}

h2 {
  text-align: left;
  margin: 0%;
  padding: 0%;
  color: rgb(97, 92, 92);
  position: relative;
  left: 0%;
}
h1 {
  text-align: left;
  padding: 20px;
  color: gray;
}

.card-body {
  color: rgb(9, 107, 139);
}

.card-title {
  text-align: center;
  color: rgb(97, 92, 92);
  font-weight: bold;
}

.btn-btn-primary {
  height: 40px;
  width: 80px;
  border-radius: 12px;
  color: white;
  background-color: rgb(67, 95, 252);
  margin-top: 6px;
}

p {
  text-align: center;
  font-size: 20px;
}

.sun_behind_cloud {
  align-items: flex;
  margin-left: 45px;
  font-size: 35px;
}
.sunny {
  align-items: flex;
  margin-left: 45px;
  font-size: 35px;
}
.cloudy {
  align-items: flex;
  margin-left: 45px;
  font-size: 35px;
}
.rainy {
  align-items: flex;
  margin-left: 45px;
  font-size: 35px;
}

.current-temp {
  font-size: 50px;
}
.weather-container-5days {
  margin-left: 90px;
}

.col-12 {
  text-align: center;
  margin-top: 20px;
  text-decoration-style: solid;
  text-size-adjust: 10px;
}

.source-link {
  text-decoration: none;
  color: #240a81;
  font-weight: 600;
}